* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    transition: all 0.5s;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, rgb(128, 1, 43), rgb(255, 0, 85), rgb(128, 1, 43));
    transition: all 0.5s;
}

html {
    font-size: 16px;
    transition: all 0.5s;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: all 0.5s;
}

.container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    transition: all 0.5s;
}

.button-option {
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: rgb(255, 0, 85);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s;
}


.button-option:hover {
    height: 21vmin;
    width: 21vmin;
    background: rgb(255, 0, 85);
    color: #ffffff;
    border: 1rem groove rgb(128, 1, 43);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.568);
    transition: all 0.5s;
}

#restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: rgb(128, 1, 43);
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
    cursor: pointer;
    border: 0.1rem solid rgb(255, 0, 85);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.568);
    transition: all 0.2s;
}

#restart:hover {
    background-color: rgb(255, 0, 85);
    border: 0.1rem solid rgb(128, 1, 43);
    transition: all 0.2s;

}

.popup {
    background: linear-gradient(135deg, rgb(128, 1, 43), rgb(255, 0, 85), rgb(128, 1, 43));
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
    transition: all 0.5s;
}

#new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: rgb(128, 1, 43);
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
    border: 0.1rem solid rgb(255, 0, 85);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.568);
    transition: all 0.5s;

}

#new-game:hover {
    background-color: rgb(255, 0, 85);
    border: 0.1rem solid rgb(128, 1, 43);
    transition: all 0.2s;

}

#message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    transition: all 0.5s;
}

.popup.hide {
    display: none;
    transition: all 0.5s;
}

h1 {
    text-decoration: none;
    color: #ffffff;
    margin: 2rem 0;
    text-align: center;
}